// 主色谱
@colorOne:#1b3c68;
@colorTwo:#4D78C4;
@colorThree:#00b8c0;
@colorFour:#e9ffb2;

// 辅助色
@BLUE:#409EFF;

//功能色
@success:#19BE6B;
@warning:#FF9900;
@danger:#ED4014;
@info:#909399;

//字体颜色
@fontOne:#303133;
@fontTwo:#606266;
@fontThree:#909399;
@fontFour:#C0C4CC;

//边框颜色
@border:#808695;